body{
    font-family: 'Merriweather', serif;
    padding: 0px;
    margin: 0px;
}
.hero-banner{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.hero-banner h1{
    font-size: 40px;
    border-left: 4px solid #9ACD32;
    padding: 5px;
}
.hero-banner p{
    font-size: 16px;
    line-height: 27px;
    color: #282828;
    margin-top: -10px;
    padding-bottom: 8px;
     
}
.hero-banner .btn{
    background-color: #9ACD32;
    color: #fff;
    padding: 10px 22px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    
}
.color-green{
    color: #5bd85b;
}
.left-side, .right-side{
    width: 40%;
}

.right-side img{
    width: 80%;
}