body{
    font-family: 'Merriweather', serif;
    padding: 0px;
    margin: 0px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.hero-banner h1{
    font-size: 40px;
    border-left: 4px solid #9ACD32;
    padding: 5px;
}

p{
    
    font-size: 14px;
    line-height: 24px;
    color: #282828;
     
}

.btn{
    background-color: #9ACD32;
    color: #fff;
    padding: 14px 32px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    
}

.btn:hover {
    background-color: #a1df27;
  }

h5{
    margin-top: 50px;
    color: #282828;
    font-size: 12px;
}
.color-green{
    color: #5bd85b;
}

 .left-side{
     width: 50%;
 }
 .right-side{
    width: 50%;
}
.right-side img{
    width: 80%;
}

.my-mission-2022 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.my-mission-2022 h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 800;
}
 .mission{
    background-color: #EDF5F6;
 }
 .vission{
    background-color: #FFEEEE;
 }
 .goals{
    background-color: #FFF4D6;
 }
.box{
    width: 26%;
    padding: 30px;
    border-radius: 30px;
}
.box img{
    width: 50%; 
}

.left-side img{
    width: 80%;
}

.our-Community{
    margin-top: 80px;
}
 
h1{
    font-size: 40px;
    font-weight: 800;
}
 
 
#tittle{
    text-align: center;
    font-size: 40px;
}

.contact-us{
     
    margin-top: 50px;
}

.contact-us .container{
    width: 80%;
    margin: 0 auto;
}

.form {
    padding: 40px;
    border-radius: 5px;
    background-color: #f7f7f7;
    
}

  input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    margin: 18px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; 
  }
  input[type=submit] {
    background-color: #9ACD32;
    color: white;
    padding: 16px 32px;
    margin: 18px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  input[type=submit]:hover {
    background-color: #a1df27;
  }
  

  footer{
    text-align: center;
    padding: 20px;
    background-color: #222222;
    color: #fff;
    margin-top: 70px;
}
footer p{
    color: #fff;
}